# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
vite.config.js
vite.config.d.ts
tsconfig.node.tsbuildinfo
# TypeScript 构建信息文件
tsconfig.tsbuildinfo
# Vite 临时时间戳文件
vite.config.js.timestamp-*.mjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
